@charset "UTF-8";

/* global*/
html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
body {
    overflow-x: hidden;
    /* 스크롤 막아둔다 */
    color: rgb(29, 29, 31);
    letter-spacing: -0.05em;
    background: white;
}
p {
    line-height: 1.6;
}
a {
    color: rgb(29, 29, 31);
    text-decoration: none;
}

/* header */
.global-nav {
    height: 44px;
    padding: 0 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.local-nav {
    height: 52px;
    border-bottom: 1px solid #ddd;
    padding: 0 1rem;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
}

.gloval-nav-links, .local-nav-links {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.product-name {
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 900;
}

.gloval-nav-links {
    justify-content: space-between;
}

.local-nav-links a:not(.product-name) {
    font-size: 0.8rem;
    margin-left: 2em;
}

/* section */

.scroll-section {
    padding-top: 50vh;
    border: 3px solid black;
}

#scroll-section-0 h1 {
    font-size: 4rem;
    /* html이 14px * 4 = 56px가 됨 */
    text-align: center;
}

.main-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    height: 3em;
    font-size: 2.5rem;
    opacity: 0;
    /* 1rem = 14px(제일 가까운 곳의 폰트크기) */
    /* rem으로 폰트기준잡고 height의 3em으로 2.5*3=7.5px의 높이를 구할 수 있다. */
}

#scroll-section-2 .main-message {
    font-size: 3.5rem;
}

.main-message p {
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}

.main-message small {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
}

.description {
    font-size: 1.2rem;
    color: #888;
    padding: 0 1rem;
    max-width: 1000px;
    font-size: 2rem;
}

.description strong {
    float: left;
    margin: 0.2em;
    font-size: 3rem;
    color: rgb(29, 29, 31);
}

.desc-message {
    width: 50%;
    font-weight: bold;
}

.pin {
    width: 1px;
    height: 100px;
    background: rgb(29, 29, 31);
}

.mid-message {
    padding: 0 1rem;
    font-size: 2rem;
    color: #888;
    margin: 0 auto;
    max-width: 1000px;
}

.mid-message strong {
    color: rgb(29, 29, 31);
}

.canvas-caption {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 1rem;
    font-size: 1.2rem;
    color: #888;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    color: white;
    background: darkorange;
}

.sticky-elem {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
    display: block;
}


@media (min-width: 1024px) {
    #scroll-section-0 h1 {
        font-size: 9vw;
    }
    .main-message {
        font-size: 4vw;
    }
    .description {
        margin: 0 auto;
    }
    .description sssssstrong{
        font-size: 6rem;
    }
    #scroll-section-2 .main-message {
        font-style: 6vw;
    }
    .main-message small {
        font-style: 1.5vw;
    }
    .desc-message {
        width: 20%;
        font-weight: bold;
    }
    .canvas-caption {
        max-width: 1000px;
        margin: -24rem auto 0;
        padding: 0 1rem;
        font-size: 1.2rem;
        color: #888;
    }
}